<?xml version="1.0" encoding="UTF-8"?>
<controller-info>

    <controller-host>appdynamics-tst.skillbox</controller-host>

    <controller-port>8090</controller-port>
>
    <controller-ssl-enabled>false</controller-ssl-enabled>

   
    <enable-orchestration>false</enable-orchestration>


    <unique-host-id>{{ inventory_hostname }}</unique-host-id>
>
    <account-access-key>c444444-00000-490e-9ea7-333333</account-access-key>


    <account-name>customer1</account-name>

    <sim-enabled>true</sim-enabled>

>
    <machine-path></machine-path>

</controller-info>
